.idea/
.metadata/
.settings/
out/
.classpath
.projectpath
.project
/bin
/build
.buildpath
*.iml
*.log
src/*.properties
.externalToolBuilders/
*.xml
*.prefs
.directory
crm.sql
/WebContentWEB-INF/classes/*
